This page shows all current teets in the datastore given brand: {{brand_name}} <br>

{% for teet in teets_to_print %}
	{{ teet[1] }} - {{ teet[0] }} <br>
{% endfor %}

<a href="{{logout_url}}">Logout</a>
