This is the follow page

<p>
Following:

{% for user in following %}
	{{ user }} <br>
{% endfor %}

</p>

<p>
Followers:

{% for user in followers %}
	{{ user }} <br>
{% endfor %}

</p>

<form id="follow" action="/follow" method="post" accept-charset="utf-8">
	Username of person to follow: <input type="text" name="username"><br/>
	<input type="submit" name="Submit"><br/>
</form>
