    <!-- content -->
	</div>

<!-- /content-out -->
</div>

<div class="push"></div>

</div>
		
<!-- footer -->
<div id="footer-wrap">
<footer>

	<p class="footer-left">
		Website template by <a href="http://www.styleshout.com/">styleshout</a>
	</p>

	<p class="footer-right">
	   <!-- 	<a href="/">Home</a> | -->
		&copy; Copyright 2013 Udder &nbsp; &nbsp; &nbsp;
    </p>

<!-- /footer -->
</footer>

</div>

</body>
</html>
