<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->

<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Udder Social Network</title>

    <link rel="stylesheet" type="text/css" media="screen" href="/css/coolblue.css" />
	<link href="/css/udder-theme/jquery-ui-1.10.2.custom.css" rel="stylesheet">
	<script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery-ui-1.10.2.custom.js"></script>
	<script src="/js/fancy-input-textbox.js"></script>

    <!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="top">

<div id="main-wrapper">

<!--header -->
<div id="header-wrap"><header>

 	<hgroup>
        <h1><a href="/">udder</a></h1>
    </hgroup>

    <nav>
		<ul>
			<li><a href="/">Home</a><span></span></li>
			<!-- <li id="current"><a href="style.html">Style Demo</a><span></span></li> -->
			{% if logout_url: %}
				<li><a href="/logout">Logout</a><span></span></li>
			{% endif %}
		</ul>
	</nav>

<!--/header-->
</header></div>
	
<!-- content-wrap -->
<div id="content-wrap">

    <!-- content -->
    <div id="content" class="clearfix">
