{% include 'templates/header.html' %}

<script>
	var teet_state = 'not_loaded';
	var view_user_name = '';
	var curr_user_name = '';

	var current_brand = 'moo';

	function get_link_to_user(user) {
		return '<a class="fancy-link" href="javascript:userInfoPopup(\'' + user.substr(1) + '\');" >' + user + '</a>';
	}

	function get_link_to_hash(hash) {
		return '<a class="fancy-link" href="javascript:hashInfoPopup(\'' + hash.substr(1) + '\');" >' + hash + '</a>';
	}

	function style_teet(teet) {
		var buffer = "";
		var at_idx = -1;
		var hash_idx = -1;
		for ( var i = 0; i < teet.length; i++) {
			var cur = teet[i];
			var code = cur.charCodeAt(0);
			if (at_idx == -1 && hash_idx == -1) {
				if (cur == '@') {
					at_idx = i;
				} else if (cur == '#') {
					hash_idx = i;
				} else {
					buffer += cur;
				}
			} else if (at_idx != -1 && (code == 32 || code == 160)) {
				buffer += get_link_to_user(teet.substr(at_idx, i - at_idx));
				buffer += "&nbsp;";
				at_idx = -1;
			} else if (hash_idx != -1 && (code == 32 || code == 160)) {
				buffer += get_link_to_hash(teet.substr(hash_idx, i - hash_idx));
				buffer += "&nbsp;";
				hash_idx = -1;
			}
		}

		if (at_idx != -1) {
			buffer += get_link_to_user(teet.substr(at_idx, teet.length - at_idx));
		}
		if (hash_idx != -1) {
			buffer += get_link_to_hash(teet.substr(hash_idx, teet.length - hash_idx));
		}

		return buffer;
	}

	function html_for_teet(teet) {
		return '<div class="teet-box-instance" id=' + teet[2] + '>' + '<div class="teet-box-instance-top">'
				+ '<a class="user-link-top" href="javascript:userInfoPopup(\'' + teet[0] + '\');" >' + teet[0] + '</a>'
				+ '</div><div class="teet-box-instance-middle">' + style_teet(teet[1])
				+ '</div><div class="teet-box-instance-bottom"></div></div>';
	}

	function html_for_no_teets() {
		return '<div id="teet-empty-box" class="teet-box-instance">Nothing to see here</div>'
	}

	function parse_teets(data, on_each_teet) {
		var success = false;

		$.each(data, function(key, value) {
			if (key == "status" && value == "success") {
				success = true;
			}
		});
		$.each(data, function(key, value) {
			if (key == "username") {
				curr_user_name = value;
			}
		});

		if (success) {
			var count = 0;

			$.each(data, function(key, value) {
				if (key == "teets") {
					if ($.isArray(value)) {
						$.each(value, function(idx, teet) {
							count++;
							on_each_teet(teet);
						});
					} else {
						count++;
						on_each_teet(teet);
					}
				}
			});

		}

		return count;
	}

	function hashInfoPopup(brand) {
		switchToTab("Brands");
		current_brand = brand;
		var data = {
			brand : brand
		}
		fetchAndLoadTeets("/teets/brands", data);
	}

	function userInfoPopup(user) {
		$("#user-popup").dialog("open");
		$.ajax({
			type : "POST",
			data : {
				user_name : user
			},
			url : "/user/profile",
			dataType : 'json',
			success : function(data) {
				$("#user-popup-username").empty();
				$("#user-popup-info").empty();
				$("#user-popup-button").empty();
				$.each(data, function(key, value) {
					//alert( key + ": " + value );
					if (key == "user_name") {
						$("#user-popup-username").append('<div>' + value + '</div>');
					}
				});

				//set the global variable for which user being viewed
				view_user_name = user;
				$.each(data, function(key, value) {
					if (key == "email") {
						$("#user-popup-info").append('<div>Email: ' + value + '</div>');
					}
				});

				if (curr_user_name == user) {
					$("#user-popup-button").append(
							'<a class="user-link" href="javascript:saveUser(\'' + view_user_name + '\');">Save</a>');

					$.each(data, function(key, value) {
						if (key == "info") {
							$("#user-popup-info").append(
									'<div>Info: <textarea style="overflow:auto;resize:none" id="user-info" rows="4" cols="20">'
											+ value + '</textarea></div>');
						}
					});
				} else {
					$("#user-popup-button").append(
							'<a class="user-link" href="javascript:followUser(\'' + view_user_name
									+ '\');">Unfollow</a>');

					$.each(data, function(key, value) {
						if (key == "info") {
							$("#user-popup-info").append('<div>Info: ' + value + '</div>');
						}
					});
				}

			}
		});
	}

	function fetchAndLoadTeets(url, data) {
		$.ajax({
			type : "POST",
			url : url,
			dataType : 'json',
			data : data,
			error : function(data, textStatus, errorThrown) {
				alert("textStatus");
			},
			success : function(data) {

				// Remove the placeholder div
				$("#teet-container").empty();

				var count = parse_teets(data, function(teet) {
					$("#teet-container").append(html_for_teet(teet));
				});

				if (count == 0) {
					$("#teet-container").append(html_for_no_teets());
					teet_state = 'empty';
				} else {
					var $button = $('<center><button id="load-more-teets">More</button></center>')
					$("#teet-container").append($button)
					$('#load-more-teets').click(function() {
						var timestamp = getEarliestTimestamp();
						$.ajax({
							type : "POST",
							url : url,
							dataType : 'json',
							data : {
								timestamp : timestamp
							},
							success : function(data) {
								// Remove the placeholder div
								var count = parse_teets(data, function(teet) {
									$("#teet-container center:last").before(html_for_teet(teet));
								});
							}
						});
					});
					teet_state = 'loaded';
				}
			}
		});
	}

	function switchToTab(tab) {
		var radio = $("input:radio[name=radio]");
		var target = radio.filter("[value=" + tab + "]");
		target.trigger("click");
		handleTabSwitch(tab);
	}

	function handleTabSwitch(tab) {
		var url = "";
		var data = Array();
		var showBrandEntryBox = false;
		var hideBrandEntryBox = false;

		var meh = $("input:radio[name=radio]:checked");

		if (tab == "MyTeets") {
			url = "/teets/frontpage";
			hideBrandEntryBox = true;
		} else if (tab == "Following") {
			url = "/teets/follow";
			hideBrandEntryBox = true;
		} else if (tab == "Brands") {
			url = "/teets/brands";
			showBrandEntryBox = true;
			data = {
				brand : current_brand
			};
		} else if (tab == "Gossip") {
			url = "/teets/gossip";
			hideBrandEntryBox = true;
		}

		if (showBrandEntryBox) {
			$("#teet-brand-entry-box").show();
		}
		if (hideBrandEntryBox) {
			$("#teet-brand-entry-box").hide();
		}

		fetchAndLoadTeets(url, data);
	}

	function followUser(user) {
		$.ajax({
			type : "POST",
			data : {
				username : user
			},
			url : "/unfollow",
			dataType : 'json'
		});
	}

	function saveUser(user) {
		//alert(document.getElementById("user-info").value)
		$.ajax({
			type : "POST",
			data : {
				info : document.getElementById("user-info").value
			},
			url : "/user/saveprofile",
			dataType : 'json'
		});
	}

	function placeCaretAtEnd(el) {
		try {
			el.focus();
		} catch (err) {
		}
		if (typeof window.getSelection != "undefined" && typeof document.createRange != "undefined") {
			var range = document.createRange();
			range.selectNodeContents(el);
			range.collapse(false);
			var sel = window.getSelection();
			sel.removeAllRanges();
			sel.addRange(range);
		} else if (typeof document.body.createTextRange != "undefined") {
			var textRange = document.body.createTextRange();
			textRange.moveToElementText(el);
			textRange.collapse(false);
			textRange.select();
		}
	}

	function getEarliestTimestamp() {
		//Max JS int
		var timestamp = 9007199254740992;
		$("#teet-container").each(function() {
			$(this).children().each(function() {
				var ts = parseInt($(this).attr('id'));
				//				alert($(this).attr('id'));
				//				alert("ts " + ts);
				if (ts < timestamp) {
					timestamp = $(this).attr('id');
				}
			});
		});
		//alert("returning timestamp " + timestamp);
		return timestamp;
	}

	function getLatestTimestamp() {
		var ts = parseInt($("#teet-container div:first").attr('id'));
		//alert(ts);
		return ts;
	}

	function getNumberLoadedTeets() {
		var count = 0;
		$("#teet-container").each(function() {
			$(this).children().each(function() {
				count = count + 1;
			});
		});
		count = count - 1;
		//alert("returning count " + count);
		return count;
	}

	$(document).ready(function() {
		$("#teet-brand-entry-box").hide();
		$("#new-teet-div").autocomplete({
			source : function(request, response) {

				var url = '';
				if (searchActiveElement.type == '@') {
					url = "/search/user";
				} else if (searchActiveElement.type == '#') {
					url = "/search/brand"
				}

				$.ajax({
					type : "POST",
					url : url,
					data : {
						term : request.term
					},
					dataType : 'json',
					success : function(data) {
						var meh = data;
						response(meh);
					}
				});
			},
			search : function(event, ui) {
				return searchActive;
			},
			focus : function(event, ui) {
				return false;
			},
			select : function(event, ui) {

				var selectedItem = searchActiveElement.type + ui.item.value;

				// uninstall change handler
				$("#new-teet-div").unbind("change");

				searchActiveElement.prev_text = selectedItem;
				searchActiveElement.element.text(selectedItem);

				// dont care anymore, just insert a new text node here
				var oneSpaceNode = document.createTextNode('\u00A0');
				var rightNodeAgain = getRightNode(searchActiveElement.element[0]);
				var parentNode = searchActiveElement.element[0].parentNode;
				if (rightNodeAgain == null) {
					rightNodeAgain = parentNode.appendChild(oneSpaceNode);

				} else {
					rightNodeAgain = parentNode.insertBefore(oneSpaceNode, rightNodeAgain);
				}

				placeCaretAtEnd(rightNodeAgain);

				// install change handler
				$("#new-teet-div").change(function() {
					handleTeetChange();
				});

				// don't update the actul text field
				return false;
			}

		});

		$("#radio").buttonset();
		$("#user-popup").dialog({
			autoOpen : false,
			modal : true,
			width : 700,
			height : 400,
			show : {
				effect : "scale",
				duration : 200
			},
			hide : {
				effect : "scale",
				duration : 200
			}
		});

		$('body').on('focus', '[contenteditable]', function() {
			var $this = $(this);
			$this.data('before', $this.html());
			return $this;
		}).on('blur keyup paste', '[contenteditable]', function() {
			var $this = $(this);
			if ($this.data('before') !== $this.html()) {
				$this.data('before', $this.html());
				$this.trigger('change');
			}
			return $this;
		});

		// Fancy div editable mode
		$("#new-teet-div").attr('contentEditable', true);

		$("#new-teet-div").change(function() {
			handleTeetChange();
		});

		$('#new-teet-div').focusin(function() {
			$("#new-teet-div").css("background-color", "#ffffff");
		});

		$('#new-teet-div').focusout(function() {
			$("#new-teet-div").css("background-color", "#fafafa");
		});

		$('input:radio[name="radio"]').change(function() {
			handleTabSwitch($(this).val());
			$('#radio').buttonset("refresh");
		});

		$("#new-teet-form-submit").button().click(function(event) {
			event.preventDefault();

			$.ajax({
				type : "POST",
				url : "/teets/new",
				data : {
					'teet-value' : $("#new-teet-div").text()
				},
				dataType : 'json',
				success : function(data) {
					var count = parse_teets(data, function(teet) {
						//Prepend the teet only if on the MyTeets tab.
						//If on the gossip tab, reload it. Easiest way to figure out if you mentioned yourself rather than parsing in js

						if ($('input:radio[name="radio"]:checked').val() == "MyTeets") {
							$("#teet-container").prepend(html_for_teet(teet));
						} else if ($('input:radio[name="radio"]:checked').val() == "Gossip") {
							var number_teets = getNumberLoadedTeets();
							var timestamp = getLatestTimestamp();

							var data = {
								timestamp : timestamp,
								number_loaded_teets : number_teets
							};
							fetchAndLoadTeets("/teets/gossip", data);
						}
					});

					if (count > 0) {

						$("#new-teet-div").text("");

						if (teet_state == 'empty') {

							// Remove the placeholder div
							$("#teet-empty-box").remove();
						}
					}
				}
			});

			return false; // dont execute the from action
		});

		$("#find-others-submit").button().click(function(event) {
			$.ajax({
				data : {
					username : document.getElementById("follower-text").value
				},
				type : "POST",
				url : "/follow",
				dataType : 'json',
				success : function() {
					alert("You're now following '" + document.getElementById("follower-text").value + "'");
				},
				error : function() {
				}
			});
		});

		$("#search-brand-submit").button().click(function(event) {
			var data = {
				brand : $("#brand-text").val()
			}
			fetchAndLoadTeets("/teets/brands", data);
		});

		$("#follower-text").autocomplete({
			source : function(request, response) {
				$.ajax({
					type : "POST",
					url : "/search/user",
					data : {
						term : request.term
					},
					dataType : 'json',
					success : function(data) {
						response(data);
					}
				});
			},
		});

		$("#brand-text").autocomplete({
			source : function(request, response) {
				$.ajax({
					type : "POST",
					url : "/search/brand",
					data : {
						term : request.term
					},
					dataType : 'json',
					success : function(data) {
						response(data);
					}
				});
			},
		});

		$("#follower-text").click(function() {
			if ($("#follower-text").val().trim() == "Search for others") {
				$("#follower-text").val("");
			}
		});

		$("#follower-text").blur(function() {
			if ($("#follower-text").val().trim() == "") {
				$("#follower-text").val("Search for others");
			}
		});

		// Get initial set of teets
		$.ajax({
			type : "POST",
			url : "/teets/frontpage",
			dataType : 'json',
			success : function(data) {

				// Remove the placeholder div
				$("#teet-loader-box").remove();

				var count = parse_teets(data, function(teet) {
					$("#teet-container").append(html_for_teet(teet));
				});

				if (count == 0) {
					$("#teet-container").append(html_for_no_teets());
					teet_state = 'empty';
				} else {
					var $button = $('<center><button id="load-more-teets">More</button></center>')
					$("#teet-container").append($button)
					$('#load-more-teets').click(function() {
						var timestamp = getEarliestTimestamp();
						$.ajax({
							type : "POST",
							url : "/teets/frontpage",
							dataType : 'json',
							data : {
								timestamp : timestamp
							},
							success : function(data) {
								// Remove the placeholder div
								var count = parse_teets(data, function(teet) {
									$("#teet-container center:last").before(html_for_teet(teet));
								});
							}
						});
					});
					teet_state = 'loaded';
				}
			}

		});
	});
</script>

<!-- main -->
<div id="main">

	<div class="main-content">

		<div id="teet-index-wrapper">

			<div id="teet-index-left">

				<div class="sidemenu-box">

					<div class="sidemenu-box-header"></div>
					<div class="sidemenu-box-instance">
						<center>
							<h3 style="color: #dedede;">New Teet</h3>
						</center>
						<div id="new-teet-div" class="center"></div>
						<br />
						<center>
							<button class="center" id="new-teet-form-submit">Teet!</button>
						</center>
					</div>
					<div class="sidemenu-box-instance">
						<div class="follower-box">
							<center>
								<h3 style="color: #dedede;">Find Users</h3>
							</center>
							<center>
								<input type="text" class="follower-search-input" name="follower_name" id="follower-text"
									value="Search for others"> <input type="submit" id="find-others-submit" value="Follow"><br />
							</center>
						</div>
					</div>
					<div class="sidemenu-box-footer"></div>
				</div>

			</div>
			<div id="teet-index-right">
				<div id="teet-source-selection">
					<form id="radio_form" action="" method="post">
						<div id="radio">
							<input type="radio" id="radio1" name="radio" value="MyTeets" checked="checked" /><label for="radio1">My
								Teets</label> <input type="radio" id="radio2" name="radio" value="Following" /><label for="radio2">Following</label> <input
								type="radio" id="radio3" name="radio" value="Brands" /><label for="radio3">Brands</label><input type="radio"
								id="radio4" name="radio" value="Gossip" /><label for="radio4">Gossip</label>
						</div>
					</form>
				</div>

				<div class="teet-box">

					<div class="teet-box-header"></div>
					<div class="teet-brand-entry" id="teet-brand-entry-box">
						<center>
							<input type="text" class="brand-search-input" name="brand_name" id="brand-text" value="moo"> <input
								type="submit" id="search-brand-submit" value="Find Brand"><br />
						</center>
					</div>
					<div id="teet-container">

						<div id="teet-loader-box" class="teet-box-instance">
							<img class="center" src="/images/ajax-loader.gif" />
						</div>
					</div>
					<div class="teet-box-footer"></div>
				</div>

			</div>

			<div class="clear"></div>
		</div>


		<!-- /main-content -->
	</div>

	<!-- /main -->
</div>
<div id="user-popup" style="display: none">

	<!--
	<div id="user-popup-loading">
		<img src="/images/ajax-loader.gif" class="center" />
	</div>
	-->

	<div style="float: left; width: 300px;">
		<div style="padding-top: 30px;">
			<img class="center" src="/images/face-placeholder.png" />
		</div>
		<div style="text-align: center; padding-top: 30px;" id="user-popup-username"></div>
	</div>
	<div style="float: right; width: 300px;">
		<div style="text-align: center; padding-top: 100px; padding-right: 100px;" id="user-popup-info"></div>
		<div style="text-align: center; padding-top: 20px; padding-right: 100px;" id="user-popup-button"></div>

	</div>

</div>

{% include 'templates/footer.html' %}
