<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8 oldie"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html>
<!--<![endif]-->

<head>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="utf-8" />
<meta name="description" content="">
<meta name="author" content="">

<title>{{title}}</title>

<link rel="stylesheet" type="text/css" media="screen" href="/css/coolblue.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/css/auth-buttons.css" />
<link href="/css/udder-theme/jquery-ui-1.10.2.custom.css" rel="stylesheet">
<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/jquery-ui-1.10.2.custom.js"></script>

<!--[if lt IE 9]>
	    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="top">

	<div id="main-wrapper">

		<!-- content-wrap -->
		<div id="content-wrap">

			<!-- content -->
			<div id="content" class="clearfix">

				<script>
					$(document).ready(
							function() {
								$("#new-teet-form-submit").button().click(
										function(event) {
											event.preventDefault();

											$.ajax({
												type : "POST",
												url : "/teets/new",
												data : $("#new-teet-form")
														.serialize(),
												success : function(data) {
													alert(data);
												}
											});

											return false; // avoid to execute the actual submit of the form.
										});
							});
				</script>

				<!-- main -->
				<div id="main">

					<div class="main-content">

						<div id="home_page_not_logged_in">
							<img class="center" src="/images/logo.png" /> <br /> <br /> <br />
							<center>
								<a class="btn-auth btn-google large" href="/login">Sign in with <b>Google</b>
								</a>
							</center>
						</div>

						<!-- /main-content -->
					</div>

					<!-- /main -->
				</div>

				<!-- content -->
			</div>

			<!-- /content-out -->
		</div>
</body>
</html>