This is the new teet page

<form id="new_teet" action="/teets/new" method="post" accept-charset="utf-8">
	Teet text: <input type="text" name="teet_value"><br/>
	Username: <input type="text" name="username"><br/>
	<input type="submit" name="Submit"><br/>
</form>

<a href="{{logout_url}}">Logout</a>
