{% include 'templates/header.html' %}

   	    <!-- main -->
        <div id="main">

            <div class="main-content">
                <h2><a href="index.html">Welcome to Udder!</a></h2>

				<h3>Text and Image</h3>

				<p><a href="#"><img src="images/sample-image.jpg" width="280" height="178" alt="sample-image" class="align-left" /></a>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum, dui pede condimentum
				odio, ac blandit ante orci ut diam. Cras fringilla magna. Phasellus suscipit, leo a pharetra
				condimentum, lorem tellus eleifend magna, eget fringilla velit magna id neque. Curabitur vel urna.
				In tristique orci porttitor ipsum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum.
				Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu
				posuere nunc justo tempus leo.
				</p>

				<p>A <a href="#">link</a>,
				<abbr title="this really isn't a very good description">abbrebation</abbr>,
				<strong>strong text</strong>,
				<del>deleted text</del>, and
                <mark>this is a mark text.</mark>
        		</p>

				<h3>Code</h3>

<!-- Pre-formatted text
======================================================================== -->
                <pre>
                <code>
code-sample {
font-weight: bold;
font-style: italic;
}
				</code>
                </pre>

<!-- =================================================================== -->

				<h3>Example Lists</h3>

				<ol>
					<li>Here is an example</li>
					<li>of an ordered list</li>
				</ol>

				<ul>
					<li>Here is an example</li>
					<li>of an unordered list</li>
				</ul>

				<dl>
            	<dt>Definition title</dt>
            	<dd>Definition description</dd>
            	<dt>Definition title</dt>
            	<dd>Definition description</dd>
         	</dl>

				<h3>Blockquote</h3>

				<blockquote>
				<p>The credit belongs to the man who is actually in the arena;
				whose face is marred by dust and sweat and blood; who strives valiantly;
				who errs and comes short again and again; who knows the great enthusiasms,
				the great devotions, and spends himself in a worthy cause;
				who at the best knows in the end the triumph of high achievement;
				and who at the worst, if he fails, at least fails while daring greatly.</p>
				<p class="author"> - Theodore Roosevelt</p>
				</blockquote>

				<h3>Headers</h3>

				<h1>H1 Heading</h1>
				<h2>H2 Heading</h2>
				<h3>H3 Heading</h3>
				<h4>H4 Heading</h4>

				<h3>Tabular Data</h3>
				<table>
					<tr>
						<th>post date</th>
						<th>title</th>
						<th>description</th>
					</tr>
					<tr>
						<td>01.18.2010</td>
						<td>Augue non nibh</td>
						<td>Commodo <a href="index.html">metus</a> vestibulum hdhdh djdjdj djdjdj</td>
					</tr>
					<tr>
						<td>01.18.2010</td>
						<td>Fusce ut diam</td>
						<td>Purus in eget odio in sapien</td>
					</tr>
					<tr>
						<td>01.17.2010</td>
						<td>Augue non nibh</td>
						<td>Adipiscing blandit </td>
					</tr>
					<tr>
						<td>01.17.2010</td>
						<td>Sed vestibulum</td>
						<td>Cras <a href="index.html">lobortis</a> commodo </td>
					</tr>
				</table>

				<h3>Contact Form</h3>

				<form action="index.html" method="get" id="contactform">

					<div>
                    <p>Send me a message</p>
                    </div>

					<div>
					<label for="subject">Subject</label>
         			<select id="subject" name="subject" tabindex="1">
           				<option value="1">Option One</option>
          				<option value="2">Option Two</option>
          	 			<option value="3">Option Three</option>
         			</select>
					</div>

                    <div>
                    <label>Name <span class="required">*</span></label>
                    <input name="name" type="text" id="name" value="" />
                    </div>

					<div>
                    <label>Email <span class="required">*</span></label>
                    <input name="email" type="text" id="email" value="" />
                    </div>

                    <div>
                    <label>Website</label>
                    <input name="website" type="text" id="website" value="" />
                    </div>

                    <div>
                    <label>Message <span class="required">*</span></label>
                    <textarea name="message" rows="20" cols="50"  id="message" ></textarea><br />
                    </div>

                    <div class="no-border">
					<input type="submit"  value="Submit" class="button">
         			<input type="reset" value="Reset" class="button">
					</div>

				</form>

            <!-- /main-content -->
            </div>

        <!-- /main -->
        </div>

{% include 'templates/footer.html' %}
