{% include 'templates/header.html' %}

<script>
	$(document).ready(function() {

		$(function() {
			$("#radio").buttonset();
		});

		$("#new-teet-form-submit").button().click(function(event) {
			event.preventDefault();

			$.ajax({
				type : "POST",
				url : "/teets/new",
				data : $("#new-teet-form").serialize(),
				success : function(data) {
					alert(data);
				}
			});

			return false; // avoid to execute the actual submit of the form.
		});
	});
</script>

<!-- main -->
<div id="main">

	<div class="main-content">

		<div id="teet-index-wrapper">

			<div id="teet-index-left">

				<div class="sidemenu-box">

					<div class="sidemenu-box-header"></div>
					<div class="sidemenu-box-instance">
						<form id="new-teet-form" action="/teets/new" method="post">
							<textarea name="teet-value" class="new-teet-textarea"></textarea>
							<br />
							<button id="new-teet-form-submit">Teet!</button>
						</form>
					</div>
					<div class="sidemenu-box-footer"></div>
				</div>

			</div>
			<div id="teet-index-right">

				<div id="teet-source-selection">
					<form>
						<div id="radio">
							<input type="radio" id="radio1" name="radio" /><label for="radio1">My Teets</label> <input type="radio"
								id="radio2" name="radio" checked="checked" /><label for="radio2">Following</label> <input type="radio"
								id="radio3" name="radio" /><label for="radio3">Something else?</label>
						</div>
					</form>
				</div>

				<div class="teet-box">

					<div class="teet-box-header"></div>
					{% for teet in teets_to_print %}
					<div class="teet-box-instance">
						<div class="teet-box-instance-top">{{ teet[0] }}</div>


						{{ teet[1] }}

					</div>

					{% endfor %}
					<div class="teet-box-footer"></div>
				</div>

			</div>

			<div class="clear"></div>
		</div>


		<!-- /main-content -->
	</div>

	<!-- /main -->
</div>

{% include 'templates/footer.html' %}
