<form id="follow" action="/testing" method="post" accept-charset="utf-8">
	Text: {{ user_name }}<br/>
	Text: {{ email }}<br/>
	<input type="text" name="user_name"><br/>
	<input type="submit" name="Submit"><br/>
</form>