/* ------------------------------------------------------------------------
	Template Name : CoolBlue
	Template Code : S-0031
	Version : 1.1
	Author : Erwin Aligam
	Author URI : http://www.styleshout.com/
	Last Date Modified : December 13, 2012
 -------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
    R E S E T
----------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

body {
	line-height: 1;
	height: 100%;
}

ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ----------------------------------------------------------------------------
    G E N E R A L
----------------------------------------------------------------------------- */
html {
	overflow-y: scroll;
	height: 100%;
}

body {
	font: 15px/24px Georgia, Serif;
	color: #454545;
	background: url(/images/content.png);
	margin: 0;
	padding: 0;
	height: 100%;
}
/* Links */
a:link,a:visited {
	text-decoration: none; #
	color: #dddddd;
	outline: 0;
}

a:hover,a:focus,a:active {
	color: #CC3300;
}

a:link.fancy-link,a:visited.fancy-link {
	text-decoration: none;
	color: #0073ea;
	font-weight: bold;
}

a:hover.fancy-link,a:focus.fancy-link,a:active.fancy-link {
	color: #CC3300;
}

a:link.user-link-top,a:visited.user-link-top {
	text-decoration: none;
	color: #404040;
	font-weight: bold;
}

a:hover.user-link-top,a:focus.user-link-top,a:active.user-link-top {
	color: #CC3300;
}

a:link.more,a:visited.more {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, Sans-serif;
	float: left;
	margin-top: 10px;
	margin-right: 5px;
	padding: 6px 10px;
	border: 1px solid #2177A5;
	background-color: #227bad;
	color: #fff;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0
		#3CA5D2;
}

a:hover.more {
	border: 1px solid #B32D00;
	background-color: #CC3300;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0
		#FF7242;
}

/* Headers */
h1,h2,h3,h4 {
	font: bold 1em/1.5em Arial, Helvetica, Sans-Serif;
	margin-bottom: 24px;
	color: #353535;
}

h1 {
	font-size: 38px;
	line-height: 42px;
	margin-top: 2px;
	margin-bottom: 4px;
	letter-spacing: -2px;
}

h2 {
	font-size: 30px;
	line-height: 38px;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.2px;
	margin-top: 12px;
	margin-bottom: 12px;
}

h4 {
	font-size: 18px;
}

/* Lists */
ul,ol {
	margin: 0 0 24px 0;
	padding: 0 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dt {
	font-weight: bold;
	color: #1980AF;
}

dd {
	padding-left: 20px;
}

p,dl {
	margin: 0 0 24px 0;
}

blockquote {
	margin: 12px 0;
	padding: 40px 30px 20px 70px;
	border: 1px solid #E4E6E9;
	background: #F3F4F5 url(/images/quote.png) no-repeat 20px 32px;
	font-size: 18px;
	line-height: 28px;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, Serif;
	color: #555;
	overflow: hidden;
}

blockquote .author {
	text-transform: uppercase;
	font-style: normal;
	letter-spacing: 1.5px;
	text-align: right;
	font-size: 12px;
}

code {
	font-family: Consolas, 'Lucida Console', Monaco, Monospace;
	font-size: 14px;
	line-height: 1.5em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0 0 24px 0;
	padding: 0 25px;
	display: block;
	clear: both;
	border: 1px solid #E4E6E9;
	background: #F3F4F5;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

mark {
	background-color: #FDD2B3;
}

strong,b {
	font-weight: bold;
}

.no-border {
	border: none;
}

/* Images */
.img {
	background: #F3F4F5;
	border: 1px solid #DEDFE0;
	padding: 15px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img.align-right {
	margin: 6px 0px 6px 15px;
}

img.align-left {
	margin: 6px 15px 6px 0px;
}

/* Table */
table {
	border-collapse: collapse;
	margin: 12px 0 24px 0;
}

tr {
	background: #FFF;
}

th,td {
	text-align: left;
	border-width: 1px;
	border-style: solid;
}

th {
	padding: .8em 1em;
	background: #2C76A6;
	border-color: #308ABA #308ABA #246F97 #308ABA;
	color: #fff;
	font-family: Arial, Helvetica, Sans-serif;
	font-size: 16px;
	font-weight: bold;
}

td {
	border-color: #E9E9E9;
	padding: .7em 1em;
}

/* Form */
form {
	
}

input,select {
	vertical-align: middle;
}

form div {
	margin: 0;
	color: #2C76A6;
}

form p {
	color: #1980AF;
}

form textarea.new-teet-textarea {
	height: 100px;
	width: 300px;
	resize: none;
}

form input:focus,form select:focus,form textarea:focus {
	background: #fcfcfc;
	color: #666666;
}

form input.button {
	height: 36px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, Sans-serif;
	margin-top: 10px;
	margin-right: 3px;
	padding: 6px 10px;
	border: 1px solid #2177A5;
	background-color: #227bad;
	color: #fff;
	cursor: pointer;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0
		#3CA5D2;
}

.ie7 form input.button {
	padding: 0 2px;
}

#name,#email,#message,#website {
	width: 475px;
}

/* Clearing and Alignment */
.align-left {
	float: left;
}

.align-right {
	float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ie7 .clearfix {
	zoom: 1;
} /* IE7 */

/* --------------------------------------------------------------------------
    S T R U C T U R E
--------------------------------------------------------------------------- */
#main-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -100px;
	/* the bottom margin is the negative value of the footer's height */
}

#header-wrap {
	float: left;
	height: 200px;
	width: 100%;
	background: url(/images/header-bg.png) repeat-x;
}

header {
	position: relative;
	margin: 0 auto;
	width: 978px;
}

#content {
	min-height: 100%;
	margin: 0 auto;
	padding: 0 0 24px 0;
	width: 978px;
}

#main {
	float: left;
	margin: 20px 0 0 0;
	padding: 0;
	width: 978px;
}

#main .main-content {
	padding-right: 30px;
	padding-left: 5px;
}

.push {
	height: 100px;
}

#footer-wrap {
	height: 100px; /* .push must be the same height as .footer */
	width: 100%;
	background: url(/images/bg.png) repeat-x left top;
}

footer {
	clear: both;
	width: 978px;
	margin: 0 auto;
	padding-top: 12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, Sans-Serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	font-size: 11px;
	color: #C2DBE7;
	overflow: hidden;
}

/* --------------------------------------------------------------------------
    H E A D E R
---------------------------------------------------------------------------- */

/* Logo */
header hgroup {
	position: absolute;
	background: url(/images/logo.png) no-repeat;
	width: 300px;
	display: block;
	top: 70px;
	left: 10px;
}

header hgroup h1 {
	margin: 0;
	padding: 0;
}

header hgroup h1 a {
	text-indent: -9999em;
	display: block;
	height: 120px;
	width: 300px;
}

header hgroup h3 {
	text-indent: -9999em;
	height: 0;
}

/*  Main Navigation  */
header nav {
	position: absolute;
	left: 0;
	top: 0;
	width: 650px;
	height: 60px;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	height: 60px;
}

header nav ul li {
	position: relative;
	float: left;
}

header nav ul a:link,header nav ul a:visited {
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	display: block;
	margin: 0;
	padding: 0 11px;
	height: 60px;
	color: #BEBEBE;
	text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
	line-height: 68px;
}

header nav ul li a:hover,header nav ul li a:active {
	border: none;
	color: #D67630;
}

header nav ul li#current a {
	color: #D67630;
}

header nav ul li#current span {
	position: absolute;
	display: block;
	background: url(/images/selected.png) no-repeat 50% 0;
	bottom: -9px;
	height: 10px;
	width: 100%;
}

/* Subscribe */
header div.subscribe {
	position: absolute;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;
	width: 150px;
	height: 30px;
	color: #BEBEBE;
	text-shadow: 0 -1px 0 rgba(10, 10, 10, 1);
	background: url(/images/rss32.png) no-repeat 0 center;
	padding-left: 28px;
	right: 68px;
	top: 18px;
}

header div.subscribe a {
	padding-right: 3px;
	padding-left: 3px;
	color: #fff;
}

header div.subscribe a:hover,header div.subscribe a:active {
	color: #D67630;
}

/* Quick Search */
header form#quick-search {
	position: absolute;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	width: 250px;
	top: 110px;
	right: 0;
}

header fieldset.search {
	border: none;
	width: 250px;
	height: 38px;
	padding: 0;
	margin: 0;
	background: #fff;
	border: 1px solid #d2e2e8;
}

header .search input {
	border: none;
	float: left;
	padding: 0;
	margin: 0;
}

header .search button {
	border: none;
	float: right;
	padding: 0;
	margin: 0;
}

header .search label {
	display: none;
}

header .search input.tbox {
	font-weight: normal;
	margin: 12px 0 10px 10px;
	background: transparent;
	width: 200px;
}

header .search button.btn {
	width: 38px;
	height: 38px;
	cursor: pointer;
	text-indent: -9999px;
	background: url(/images/search.png) no-repeat center center;
}

/* -------------------------------------------------------------------------
    M A I N
--------------------------------------------------------------------------- */
#main h2 {
	font-size: 34px;
	letter-spacing: -0.5px;
}

#main h2 a {
	color: #353535;
}

/* Recent Comments */
.recent-comments ul {
	margin-left: 0;
	padding: 0;
	background: url(/images/footer-line.png) repeat-x left top;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, sans-serif;
}

.recent-comments ul li {
	list-style: none;
	font-size: 12px;
	line-height: 1.5em;
	padding: 7px 5px 7px 22px;
	background: url(/images/speech-bubble.png) no-repeat 2px 12px;
	/* border-bottom: 1px solid #326B8D; */
}

.recent-comments ul li a:link,.recent-comments ul li a:visited {
	padding-left: 0;
}

.recent-comments ul li cite {
	font-size: .9em;
	font-style: normal;
}

/* footer-list */
.footer-list ul {
	background: url(/images/footer-line.png) repeat-x left top;
	list-style: none;
	padding: 0;
	margin-left: 0;
}

.footer-list ul li {
	border-bottom: 1px solid #326B8D;
}

.footer-list ul li a:link,.footer-list ul li a:visited {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, Sans-Serif;
	display: block;
	padding: 7px 0 7px 5px;
	margin-left: 0;
	color: #fff;
}

.footer-list ul li a:hover {
	color: #99CCFF;
}

/* Subscribe Stuff */
ul.subscribe-stuff {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.subscribe-stuff li {
	float: left;
	margin: 0 3px 12px 0;
	padding: 0;
}

ul.subscribe-stuff li img {
	padding: 0;
	margin: 0;
	border: none;
	background: none;
}

/* ----------------------------------------------------------------------------
    F O O T E R
----------------------------------------------------------------------------- */
footer a:link,footer a:visited {
	color: #fff;
}

footer a:hover {
	color: #99CCFF;
}

footer a.back-to-top {
	background: url(/images/back-to-top.png) no-repeat right 2px;
	font-weight: bold;
	padding-right: 16px;
}

footer p.footer-left {
	float: left;
	margin: 0 0 30px 0;
	padding: 0;
	width: 600px;
	text-align: left;
}

footer p.footer-right {
	float: right;
	margin: 0 0 30px 0;
	padding: 0;
	width: 320px;
	text-align: right;
}

/* ------------------------------------------------------------------------------
    A R C H I V E S
--------------------------------------------------------------------------------- */
ul.archive {
	margin: 10px 0 10px 0;
	padding: 0;
	border-top: 1px solid #E5E5E5;
}

ul.archive li {
	margin: 0;
	padding: 14px 5px;
	border-bottom: 1px solid #E5E5E5;
	list-style: none;
}

ul.archive li .post-title {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, Sans-Serif;
	font-weight: bold;
	font-size: 18px;
}

ul.archive li .post-title a:link,ul.archive li .post-title a:visited {
	color: #444;
}

ul.archive li .post-title a:hover {
	border: none;
	color: #CC3300;
}

ul.archive li .post-details {
	margin-left: 0;
	margin-top: 0;
	font-size: .9em;
	color: #777;
}

ul.archive li .post-details span {
	padding-left: 5px;
	padding-right: 5px;
	color: #999;
}

ul.archive li .post-details a:link,ul.archive li .post-details a:visited
	{
	color: #1372a8;
}

ul.archive li .post-details a:hover {
	color: #CC3300;
}

/* Page Navigation */
.navigation {
	margin: 20px 0 20px 5px;
	padding: 0;
}

.navigation a:link,.navigation a:visited {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
		Verdana, Sans-serif;
	float: left;
	display: block;
	margin: 10px 10px 0 0;
	padding: 5px 7px;
	text-transform: lowercase;
	text-decoration: none;
	border: 1px solid #2177A5;
	background: #227bad;
	color: #fff;
	font-size: 13px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #3CA5D2;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0
		#3CA5D2;
}

.navigation a:hover {
	border: 1px solid #B32D00;
	background: #CC3300;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
	-moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0 #FF7242;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 0
		#FF7242;
}

#teet-index-wrapper {
	
}

#teet-index-left {
	float: left;
	width: 400px;
}

#teet-index-right {
	float: right;
	width: 500px;
}

.clear {
	clear: both;
}

#home_page_not_logged_in {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	width: 500px;
	height: 300px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px #99CCFF solid;
	background: url(/images/blue-bg.png);
	background-color: #ffffff;
	padding-top: 50px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.teet-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px #dddddd solid;
	background: #ffffff;
	-moz-box-shadow: 0 0 5px 5px #ddd;
	-webkit-box-shadow: 0 0 5px 5px #ddd;
	box-shadow: 0 0 20px 5px #ddd;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #666666;
}

.teet-box-header {
	border-bottom: 1px #dddddd solid;
	height: 30px
}

.teet-box-footer {
	height: 30px
}

.teet-box-instance {
	border-bottom: 1px #dddddd solid;
	padding: 5px;
}

.teet-box-instance-top {
	padding: 5px;
}

.teet-box-instance-middle {
	padding: 5px;
}

#teet-source-selection {
	padding-left: 40px;
	margin: 5px;
}

.sidemenu-box {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px #dddddd solid;
	background: url('/images/bg.png');
	-moz-box-shadow: 0 0 5px 5px #ddd;
	-webkit-box-shadow: 0 0 5px 5px #ddd;
	box-shadow: 0 0 20px 5px #ddd;
	margin-top: 30px;
	margin-bottom: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
}

.sidemenu-box-header {
	height: 10px
}

.sidemenu-box-footer {
	height: 10px
}

.sidemenu-box-instance {
	padding: 5px;
}

#teet-source-selection {
	padding-left: 40px;
	margin: 5px;
}

#new-teet-form {
	text-align: center;
}

.teet-dynamic-entry {
	color: #ff0000;
}

#new-teet-div {
	background-color: #fafafa;
	color: #343434;
	height: 100px;
	width: 300px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
}

.follower-search-input {
	height: 30px;
	width: 200px;
	background: #fcfcfc;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 100%;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.brand-search-input {
	height: 20px;
	width: 200px;
	background: #fcfcfc;
	color: #666666;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 100%;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
}

.follower-box {
	padding: 30px 0px 100px 0px;
}

.teet-brand-entry {
	border-bottom: 1px #dddddd solid;
	padding: 10px 0px 10px 0px;
}